
.top_container svg{
    font-size: 1.5em;
    color: #7868D8;
    margin: 10vh 0 0 1.5em;
}

.newTask_container{
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: center;

}