.label_select select{
    width: 38vw;
    height: 2.65em;
    border: 1px solid #b8b8b8;
    border-radius: 5px; 
    outline: none;
    background-repeat: no-repeat;
    background-position: center left 8px;
    background-size: 15px;
    padding-left: 28px;
    margin: 0.5em 0;
}
.category{
    background-image: url(../../assets/clipboard-list-solid.svg);
    
}
.priority{
    background-image: url(../../assets/flag-regular.svg);
}
.label_select{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
@media screen and (min-width: 51.875em) {
    .label_select select{
        height: 3.25em;
        background-position: center left 1em;
        padding-left: 40px;
    }
}
