.date_container{
    display: flex;
    flex-direction: column;
    margin: 1.5em 0.5em 0.5em 0.5em;
}
.input_calendar{
    height: 2.7em;
    border: 1px solid #b8b8b8;
    border-radius: 5px;   
    margin-top: 0.3em;   
    outline: none;
    background-image: url(../../assets/calendar-regular\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center left 8px;
    background-size: 15px;
    padding-left: 28px;
}


table, button{
    background-color: white;
    border: none;
}

.select_container{
    display: flex;
    justify-content: space-between;
}